<header>
<div class="container-fluid" style="background-color: #BD2C2C"> <!-- A super cheap way of properly centering navbar elements on desktop (mobile doesn't really care) -->
	<div class="container"> <!-- This guy right here forces them into "center" -->
	<nav class="navbar navbar-full navbar-dark" style="background-color: #BD2C2C">
	  <span class="navbar-brand">ARCMF2</span>
	  <a class="navbar-brand fa fa-github" href="#" title="Visit the Github repository!"></a>
	  <a class="navbar-brand fa fa-steam-square" href="#" title="Find the developers on Steam!"></a>

	  <ul class="nav navbar-nav float-xs-right">
	    <li class="nav-item active">
	      <a class="nav-link" href="#">Home</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="#">Documentation</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="#">News</a>
	    </li>
	  </ul>
	</nav>
	</div>
	</div>
</header>